body {
    background-color: rgb(65, 61, 61);
    color: white;
}

.ui .segment {
    background-color: rgb(105, 92, 92);
}

.image-list img:hover {
    position:relative;
    top:-5px;
    left:-35px;
    width:auto;
    height:150%;
    display:block;
    z-index:1;
    border-radius: 2px;
}