.image-display button {
    position: relative;
    top: 5px;
    right: 10px;
    font-size: 46px;
    background-color: inherit;
    border: none;
    color: white;
    z-index: 1;
}

.image-display img {
    max-height: 600px;
    max-width: auto;
}

.image-display {
    margin-top: 5px;
}